section{
    background-color: aliceblue;
    height: 600px;
    justify-content: center;
    border: 5px solid black;
    width: 600px;
}

.div-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}
.div-1{
    display: flex;
    flex-direction: row;
    background-color: blue;
    width: 500PX;
    height: 100px;
}
.div-2{
    display: flex;
    justify-content: space-between;
    background-color: green;
    width: 500px;
    height: 100px;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.div-3{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: brown;
    height: 100px;
    width: 500px;
    margin-right: 20px;
}
.box{

}